# macOS
.DS_Store

# Unity
Library/
Temp/
Obj/
obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/  # optional

# IDEs
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj

# Unity Cache
*.pidb
*.booproj

# Rider
*.sln.iml